:root {
    --primary-logo-color: #fff;
    --secondary-logo-color: #f2f2f2;
    --grey-5: #ededed;
    --grey-10: #dedede;
    --grey-30: #b0b0b0;
    --grey-50: #7c7c7c;
    --grey-80: #484848;
    --primary-font: 'Rubik', sans-serif;
}
.page {
    font-family: var(--primary-font); 
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    margin: 0;
}
/* .header {
} */
.logo {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__path {
    fill: var(--primary-logo-color);
}
.logo:hover .logo__path {
    fill: var(--secondary-logo-color);
}
.header__content-wrapper {
    position: fixed;
    box-sizing: border-box;
    width: 288px;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    gap: 10px;
}
.search {
    position: relative;
    nav-index: initial;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: bold;
    border-radius: 20px;
    z-index: 1;
}
.search__icon {
    position: absolute;
    top: 12px;
    left: 15px;
}
.search__input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px 20px 10px 40px;
    border-radius: 35px;
    border: none;
    font-family: var(--primary-font);
    font-size: 14px;
    background-color: inherit;
    background-color: var(--grey-5);
    font-style: inherit;
    font-weight: 300;
}
.search__svg {
    fill: var(--grey-50);
    width: 16px;
    height: 16px;
}